<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>文本摘要</title>
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="../static/img/Python.svg" width="30" height="30" class="d-inline-block ali</label>gn-top"
             alt="">
        项目演示
    </a>
</nav>


<div class="container">
    <!-- Content here -->

    <img class="d-block mx-auto mb-4" src="../static/img/folders.svg" alt="" width="72" height="72">
    <h2 class="text-center">Auto Summarization</h2>
    <p class="lead">基于普林斯顿大学研究人员提出的sentence embedding算法，结合优化的textrank关键词抽取算法，lda主题分析算法，以及一些加权优化技巧，完成的自动抽取式文本摘要应用。</p>
    <p class="lead">同时结合BM25特征提取方法，结合textrank算法完成了另一种无监督的关键句识别算法。该算法效果不及优化后的sentence embedding算法，但是效果和目前开源包hanlp效果相当。</p>


    <div class="alert alert-secondary" role="alert">
        Ref：A SIMPLE BUTTOUGH-TO-BEAT BASELINE FOR SENTENCE EMBEDDINGS. Sanjeev Arora, Yingyu Liang, Tengyu Ma.
    </div>
    <div class="alert alert-secondary" role="alert">
        Ref：TextRank: Bringing Order into Texts. Rada Mihalcea and Paul Tarau.
    </div>
</div>

<div class="container">
    <hr class="mb-4">
    <form action="{{url_for('extract')}}" method="post">
        <div class="form-group">
            <label for="Textarea1">文本内容输入框</label>
            <textarea class="form-control" name="content" id="Textarea1" rows="5" placeholder="请输入内容" required=""></textarea>
            <p></p>
            <label for="Textarea2">标题输入框</label>
            <textarea class="form-control" name="title" id="Textarea2" rows="1" placeholder="可选输入内容"></textarea>
        </div>
        <button class="btn btn-primary btn-lg btn-block" type="submit">文本摘要抽取</button>
    </form>
    <hr class="mb-4">
    <p>输出结果</p>


    <dl class="row">
        <dt class="col-sm-3">文本摘要</dt>
        <dd class="col-sm-9">{{summary}}</dd>

        <dt class="col-sm-3">关键词</dt>
        <dd class="col-sm-9">{{keywords}}</dd>
    </dl>
    <hr class="mb-4">
    <img src="../static/img/backgroud.png" class="img-fluid" alt="Responsive image">
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>